################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TRISHALADEVI/FileContentIndex/f7766f43-be1f-4ed9-a71e-beb6b64ba2d8.vsidx
/.vs/TRISHALADEVI/FileContentIndex
